.formula{
height: 60vh;
width: 40%;
}

.formula img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-top{
    width: auto;
    border-radius: 20%;
    background-color: black;
    color: yellow;
}

.box{
    text-align: center;
    height: 12rem;
    box-shadow: 2px 2px 3px 5px rgba(20,20,20,0.4);

}